In [105]:
import pandas as pd

In [119]:
df_station = pd.read_csv('./station.csv',error_bad_lines=False)
df_weather = pd.read_csv('./weather.csv')
df_trip = pd.read_csv('./trip.csv',error_bad_lines=False)

df_station.info()
# df_station
# df_weather

/home/abdelmajed/python/vg-stats/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object
 5   install_dockcount  58 non-null     int64
 6   modification_date  17 non-null     object
 7   current_dockcount  58 non-null     int64
 8   decommission_date  4 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB

##  What is the average trip duration for a borrowed bicycle?

In [107]:
trip_duration = df_trip['tripduration'].mean()

trip_duration

1178.2956753399776

## What’s the most common age of a bicycle-sharer?

In [108]:
birth_sharer = df_trip['birthyear'].mode()[0]
age = 2021 -birth_sharer
age

34.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.
What’s the average number of bikes at a given bike station?

In [109]:
df_weather.head(10)
def month(date):
    return int(date.split('/')[0])
df_weather['Month']=df_weather['Date'].apply(month)
df_weather.head(10)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events,Month
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.65,10,10,4,13,4,21,0.00,Rain,10
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.54,10,9,3,10,5,17,0.11,Rain,10
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.51,10,9,3,18,7,25,0.45,Rain,10
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.81,10,10,10,9,4,-,0.00,Rain,10
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.73,10,10,6,8,3,-,0.14,Rain,10
5,10/18/2014,68,64.0,59,59,57,55,90,83,68,...,29.80,10,8,2,10,4,-,0.31,Rain,10
6,10/19/2014,73,64.0,55,57,55,53,94,74,52,...,29.67,10,10,6,10,3,18,0.00,NaN,10
7,10/20/2014,66,60.0,55,57,54,50,90,78,67,...,29.69,10,10,5,12,5,-,0.44,Rain,10
8,10/21/2014,64,58.0,55,52,49,46,87,70,58,...,29.74,10,10,6,15,8,21,0.10,Rain,10
9,10/22/2014,60,58.0,57,55,53,48,88,81,67,...,29.56,10,6,2,14,8,22,1.43,Rain,10

In [110]:
average =df_weather.groupby('Month')['Precipitation_In']
average.mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [111]:
average.median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

# What’s the average number of bikes at a given bike station?

In [112]:
dock_count=df_station[df_station['decommission_date'].notnull()]
all=df_station[df_station['decommission_date'].isnull()]
avg_bike_num=all.mean()
avg_bike_num=avg_bike_num.current_dockcount
avg_bike_num

/tmp/ipykernel_5828/2962066240.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  avg_bike_num=all.mean()

17.74074074074074

# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [113]:

station=df_station[['modification_date','install_dockcount','current_dockcount']].dropna()
station['current_dockcount'].sum()-station['install_dockcount'].sum()

-64

## Come up with 3 more questions that can be answered with this data set.

# find maximum tempreture at all.

In [114]:
maximum = df_weather['Max_Temperature_F'].max()
maximum

98

# find most starting station

In [118]:
station_name_common = df_trip['from_station_name'].value_counts().idxmax()
station_name_common
station_name_common

'Pier 69 / Alaskan Way & Clay St'

# find  the longest distance

In [120]:
longest = df_station['long'].max()
longest

KeyError: 'long'